.tagzone {
    border-bottom: 1px solid;
    margin-bottom: 1em
}
.taglist {
    display: flex;
    align-items: center;
    margin: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1em;
}
    
.grid-item img {
    margin: 0
}

.un {
    grid-row: 1 / 3;
}
.deux {
    display: block;
    text-align: center;
    grid-row: 1 / 2;
    margin-top: auto;
}
.trois {
    grid-row: 1 / 3;
    margin: auto;
}
.quatre {
    grid-row: 2 / 3;
    margin-left: 1em;
}